@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;800;900&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
li{
  list-style: none;
  text-decoration: none;
}
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-noto-sans: "Noto Sans";
  --font-sf-pro-display: "SF Pro Display";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-sm: 14px;

  /* Colors */
  --colors-white: #fff;
  --color-orangered-100: #ff5d02;
  --color-gray-100: #202124;
  --color-darkgoldenrod: rgba(194, 119, 0, 0.1);
  --color-black: #000;
  --color-antiquewhite: #ffe7d4;
  --color-darkslategray: #333;

  /* Gaps */
  --gap-19xl: 38px;
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-4xs: 9px;
  --gap-xl: 20px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-81xl: 100px;
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-121xl: 140px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-8xs: 5px;

  /* Effects */
  --navbar-shadow: 0px 1px 0px #e5e9f2;
}
